<div class="bth-card bth-card--fluid">
    
    <div class="row">
        <div class="col-xl-5 col-lg-8 col-md-8 col-12">
            <h5 class="top bottom"> Ordens de serviços</h5>
            <div class="card gradient-blackberry">
                <div class="card-body">
                    <nvd3 options="vm.options" data="vm.data"></nvd3>
                </div>
            </div>
        </div>
        <div class="col-xl-5 col-lg-8 col-md-8 col-12">
                <h5 class="top bottom"> Ordens de serviços sem movimentação <a href="" ng-click="vm.abrirModalInformacoes()">{{vm.dashBoardInf.osParada ? vm.dashBoardInf.osParada.length : 0}}</a> </h5>
                <div class="card gradient-blackberry">
                    <div class="card-body">
                            <canvas id="myChart2" width="400" height="300"></canvas>
                        </canvas>
                    </div>
                </div>
            </div>
        <!-- <div class="col-xl-5 col-lg-8 col-md-8 col-12">
            <h5 class="top bottom">Retornos nos ultimos meses</h5>
            <div class="card gradient-blackberry">
                <div class="card-body">
                    <canvas id="myChart" width="400" height="300"></canvas>
                    </canvas>
                </div>
            </div>
        </div> -->
    </div>

</div>


<ui-view></ui-view>