<div class="container-fluid">
    <div class="row justify-content-sm-center">
        <div class="row col-md-12">

            <div class="col align-self-end">
                <ul class="breadcrumb" style="background-color: #ffffff">
                    <li class="breadcrumb-item"><a href="#">Enside OS</a></li>


                    <li class="breadcrumb-item active">Configurações</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-8">

            <h2 class="title">Configurações</h2>

            <form>
                <label for="exampleSelect1">Dias que um serviço pode ficar sem movimentação</label>

                <div class="row">

                    <div class="col-md-2">

                        <div class="form-group">

                            <input data-ng-model="vm.record.diasOsInativa" class="form-control" type="number" value="vm.record.diasOsInativa"
                                id="example-number-input">


                        </div>
                    </div>
                </div>
                <h4>Email para notificar cliente</h4>
                <div class="row">

                    <div class="col-md-4">
                        <label for="exampleInputEmail1">Email</label>
                        <input ng-model="vm.record.emailSend" type="email" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="Enter email">

                    </div>
                    <div class="col-md-4">
                        <label for="exampleInputPassword1">Senha</label>
                        <input type="password" ng-model="vm.record.senhaEmailSend" class="form-control" id="exampleInputPassword1"
                            placeholder="Password">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="exampleInputEmail1">Nome Empresa</label>
                        <input ng-model="vm.record.nomeEmpresa" class="form-control">

                    </div>
                    <div class="col-md-4">
                            <label for="exampleInputEmail1">Telefone empresa</label>
                            <input type="tel" value="(55)-5555-5555" ng-model="vm.record.telefone" class="form-control">
    
                        </div>
                </div>
                <div class="row"><br></div>
                <div class="row">
                    <button ng-click="vm.save()" type="button" class="btn btn-outline-info">Salvar Registro</button>


                </div>




            </form>

        </div>

    </div>

</div>