<div>
    <li ng-repeat="item in itens">
        <a id="menu" ui-sref="{{item.state}}">
            <div class="row">
                <span style="font-size: 1.1rem">
                    <i class="material-icons" style="width: 1.2cm; font-size: 13px">
                        {{item.icon}}
                    </i>
                </span> {{item.name}}
            </div>
        </a>
    </li>
</div>
