<div class="container-fluid">
    <div class="row justify-content-sm-center">
        <div class="row col-md-12">

            <div class="col align-self-end">
                <ul class="breadcrumb" style="background-color: #ffffff">
                    <li class="breadcrumb-item"><a href="#">Enside OS</a></li>
                    <li class="breadcrumb-item"><a href="#!/os">Ordem de serviço</a></li>

                    <li class="breadcrumb-item active">Fomulario de ordem de serviço</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-8">


            <h2 class="title">Fomulario de ordem de serviço</h2>

            <form>
                <div class="row">
                    <div class="col-md-6">
                        <label>Tipo</label>
                        <div class="form-group">
                            <select data-ng-model="vm.record.tipoServico" class="form-control">
                                <option value="ORCAMENTO">Orçamento</option>
                                <option value="GARANTIA">Garantia</option>
                                <option value="RETORNO">Retorno</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6" ng-if="vm.record.id">
                        <label>Situacao</label>
                        <div class="form-group">
                            <select data-ng-model="vm.record.situacao" class="form-control">
                                <option value="AGUARDANDO_ANALISE">Aguardando analise</option>
                                <option value="AGUARDANDO_APROVACAO">Aguardando aprovação</option>
                                <option value="AGUARDANDO_PECA">Aguardando peça</option>
                                <option value="AGUARDANDO_CONSERTO">Aguardando conserto</option>
                                <option value="PRONTO">Pronto</option>
                                <option value="ENTREGUE">Entregue</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Cliente </label>
                        <div class="form-group">
                            <select ng-if="!vm.record.id" class="form-control" ng-model="vm.record.cliente" ng-options="item as item.nome for item in vm.clientes">
                                <pre>{{selectedItem | json}}</pre>
                            </select>
                            <input ng-if="vm.record.id" type="text" name="chaveAcesso" class="form-control"
                                data-ng-disabled="true" data-ng-value="vm.record.cliente.nome" disabled="disabled">

                            <small ng-show="msg" class="form-text text-{{msgClass || 'muted'}}">{{msg}}</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <ui-input ng-model="vm.record.nome" label="Equipamento"></ui-input>
                    </div>
                    <div class="col-md-3">
                        <ui-input ng-model="vm.record.marca" label="Marca"></ui-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <ui-input ng-model="vm.record.modelo" label="Modelo"></ui-input>
                    </div>
                    <div class="col-md-4">
                        <ui-input ng-model="vm.record.serie" label="Série"></ui-input>
                    </div>
                    <div class="col-md-5">
                        <ui-input ng-model="vm.record.controle" label="Código controle interno"></ui-input>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <label>Estado conservação</label>
                        <textarea class="form-control" ng-model="vm.record.conservacao" rows="1"></textarea>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ui-input ng-model="vm.record.defeito" label="Defeito"></ui-input>
                    </div>
                </div>

                <div ng-if="vm.record.id" class="row">
                    <div class="col-md-12">
                        <label>Serviço realizado</label>
                        <textarea class="form-control" ng-model="vm.record.servico" rows="2"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <label>Obeservação</label>
                        <textarea class="form-control" ng-model="vm.record.observacao" rows="3"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Valor</label>
                        <input class="form-control" ng-model="vm.record.valor" type="text" name="field" ng-model="number"
                            ui-number-mask="3">
                    </div>
                    <div class="col-md-3">
                            <label>Pagamento realizado</label>
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input ng-model="vm.record.pagamentoRealizado" type="checkbox" value="true" aria-label="Checkbox for following text input">
                            </div>
                        </div>
                    </div>
                </div>

                <button ng-click="vm.save()" type="button" class="btn btn-outline-info">Salvar Registro</button>

                <a ui-sref="app.os.list" class="btn btn-danger">Cancelar</a>

            </form>
        </div>
    </div>
</div>