<div class="modal-header">
        <h4>Dados da
                <abbr title="Ordem de serviço">OS</abbr>
            </h4>
</div>
<div class="modal-body">
    <div>
        <fieldset>
         
            <div class="row">
                <div class="col-md-2">
                    <label>
                        Número
                    </label>
                    <input type="text" name="chaveAcesso" class="form-control" data-ng-disabled="true" data-ng-value="vm.item.id"
                        disabled="disabled">
                </div>
                <div class="col-md-3">
                    <label>
                        Data abertura
                    </label>
                    <input type="text" name="chaveAcesso" class="form-control" data-ng-disabled="true" data-ng-value="vm.item.abertura | date"
                        disabled="disabled" value="3">
                </div>

                <div class="col-md-3">
                    <label>
                        Nátureza
                    </label>
                    <input type="text" name="chaveAcesso" class="form-control" data-ng-disabled="true" data-ng-value="vm.item.tipoServico"
                        disabled="disabled" value="3">
                </div>
                <div class="col-md-4">
                    <label>
                        Situação
                    </label>
                    <input type="text" name="chaveAcesso" class="form-control" data-ng-disabled="true" data-ng-value="vm.item.situacao"
                        disabled="disabled" value="3">
                </div>

                <!-- <div class="col-md-3">
                                <label>
                                    Data/hora de saída ou da entrada
                                </label>
                                <input type="text" name="chaveAcesso" class="form-control" data-ng-disabled="true" data-ng-value="vm.cadastro.dataHoraSaidaEntrada | moment : 'format': 'DD/MM/YYYY HH:mm:ss Z'" disabled="disabled">
                            </div>
                            <div class="col-md-2">
                                <label>
                                    Valor total da nota fiscal
                                </label>
                                <input type="text" name="chaveAcesso" class="form-control text-right" data-ng-disabled="true" data-ng-value="vm.cadastro.valorTotal | number : 2" disabled="disabled" value="380,80">
                            </div> -->
            </div>
        </fieldset>
        <hr>
        <fieldset>
            <h4>Cliente</h4>
            <div class="row">
                <div class="col-md-3">
                    <label>
                        <abbr title="Cadastro Nacional de Pessoa Jurídica">CPF/CNPJ</abbr>
                    </label>
                    <input type="text" name="chaveAcesso" class="form-control" data-ng-disabled="true" data-ng-value="vm.item.cliente.documento"
                        disabled="disabled" >
                </div>
                <div class="col-md-4">
                    <label>
                        Nome / razão social
                    </label>
                    <input type="text" name="chaveAcesso" class="form-control" data-ng-disabled="true" data-ng-value="vm.item.cliente.nome"
                        disabled="disabled" >
                </div>
                <div class="col-md-3">
                    <label>
                            <abbr title="Registro geral">RG</abbr>
                    </label>
                    <input type="text" name="chaveAcesso" class="form-control" data-ng-disabled="true" data-ng-value="vm.item.cliente.rg"
                        disabled="disabled">
                </div>
                <!-- <div class="col-md-2">
                    <label>
                        <abbr title="Unidade da federação">UF</abbr>
                    </label>
                    <input type="text" name="chaveAcesso" class="form-control" data-ng-disabled="true" data-ng-value="vm.cadastro.emitente.uf"
                        disabled="disabled">
                </div> -->
            </div>
        </fieldset>
        <hr>
        <fieldset>
            <h4>Destinatário</h4>
            <div class="row">
                <div class="col-md-3">
                    <label>
                        <abbr title="Cadastro Nacional de Pessoa Jurídica">CNPJ</abbr>
                    </label>
                    <input type="text" name="chaveAcesso" class="form-control" data-ng-disabled="true" data-ng-value="vm.cadastro.destinatario.cpfCnpj | bfMaskCpfCnpj"
                        disabled="disabled" value="95.778.056/0001-88">
                </div>
                <div class="col-md-4">
                    <label>
                        Nome / razão social
                    </label>
                    <input type="text" name="chaveAcesso" class="form-control" data-ng-disabled="true" data-ng-value="vm.cadastro.destinatario.nomeRazaoSocial"
                        disabled="disabled">
                </div>
                <div class="col-md-4">
                    <label>
                        Inscrição estadual
                    </label>
                    <input type="text" name="chaveAcesso" class="form-control" data-ng-disabled="true" data-ng-value="vm.cadastro.destinatario.inscricaoEstadual"
                        disabled="disabled">
                </div>
                <div class="col-md-1">
                    <label>
                        <abbr title="Unidade da federação">UF</abbr>
                    </label>
                    <input type="text" name="chaveAcesso" class="form-control" data-ng-disabled="true" data-ng-value="vm.cadastro.destinatario.uf"
                        disabled="disabled">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label>
                        Destino da operação
                    </label>
                    <input type="text" name="chaveAcesso" class="form-control" data-ng-disabled="true" data-ng-value="vm.cadastro.destinatario.destinoOperacao"
                        disabled="disabled">
                </div>
                <div class="col-md-4">
                    <label>
                        Consumidor final
                    </label>
                    <input type="text" name="chaveAcesso" class="form-control" data-ng-disabled="true" data-ng-value="vm.cadastro.destinatario.consumidorFinal"
                        disabled="disabled">
                </div>
                <div class="col-md-4">
                    <label>
                        Presença do comprador
                    </label>
                    <input type="text" name="chaveAcesso" class="form-control" data-ng-disabled="true" data-ng-value="vm.cadastro.destinatario.presencaComprador"
                        disabled="disabled">
                </div>
            </div>
        </fieldset>
        <hr>
        <fieldset>
            <h4>Emissão</h4>
            <div class="row">
                <div class="col-md-3">
                    <label>
                        Processo
                    </label>
                    <input type="text" name="chaveAcesso" class="form-control" data-ng-disabled="true" data-ng-value="vm.cadastro.emissao.processo"
                        disabled="disabled">
                </div>
                <div class="col-md-3">
                    <label>
                        Versão do processo
                    </label>
                    <input type="text" name="chaveAcesso" class="form-control" data-ng-disabled="true" data-ng-value="vm.cadastro.emissao.versaoProcesso"
                        disabled="disabled">
                </div>
                <div class="col-md-3">
                    <label>
                        Tipo de emissão
                    </label>
                    <input type="text" name="chaveAcesso" class="form-control" data-ng-disabled="true" data-ng-value="vm.cadastro.emissao.tipoEmissao"
                        disabled="disabled">
                </div>
                <div class="col-md-3">
                    <label>
                        Finalidade
                    </label>
                    <input type="text" name="chaveAcesso" class="form-control" data-ng-disabled="true" data-ng-value="vm.cadastro.emissao.finalidade"
                        disabled="disabled">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>
                        Natureza da operação
                    </label>
                    <input type="text" name="chaveAcesso" class="form-control" data-ng-disabled="true" data-ng-value="vm.cadastro.emissao.naturezaOperacao"
                        disabled="disabled">
                </div>
                <div class="col-md-3">
                    <label>
                        Tipo da operação
                    </label>
                    <input type="text" name="chaveAcesso" class="form-control" data-ng-disabled="true" data-ng-value="vm.cadastro.emissao.tipoOperacao"
                        disabled="disabled">
                </div>
                <div class="col-md-3">
                    <label>
                        Forma de pagamento
                    </label>
                    <input type="text" name="chaveAcesso" class="form-control" data-ng-disabled="true" data-ng-value="vm.cadastro.emissao.formaPagamento"
                        disabled="disabled">
                </div>
                <div class="col-md-3">
                    <label>
                        Digest value da
                        <abbr title="Nota fiscal eletrônica">NF-e</abbr>
                    </label>
                    <input type="text" name="chaveAcesso" class="form-control" data-ng-disabled="true" data-ng-value="vm.cadastro.digestValue"
                        disabled="disabled">
                </div>
            </div>
        </fieldset>
        <hr>
        <fieldset>
            <h4 class="ng-binding">Situação atual: Uso autorizado (Ambiente de autorização: )
            </h4>
        </fieldset>
        <hr>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>