<div class="modal-header">
        <h4>Dados da
                <abbr title="Ordem de serviço">OS</abbr>
            </h4>
</div>
<div class="modal-body">
        <table class="table table-striped">
                <thead>
        
                    <td scope="col">Número</th>
        
        
                    <td scope="col">Cliente</th>
        
        
                    <td scope="col">Data abertura</th>
        
                    <td scope="col">Data alteração</th>
        
                    <td scope="col">Equipamento</th>
        
        
                    <td scope="col">Marca</th>
        
        
                    <td scope="col">Etatus</th>
        
        
                    <td scope="col">
                        </th>
        
        
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.itens">
                        <td>{{item.id}}</td>
                        <td>{{item.cliente.nome}}</td>
                        <td>{{item.abertura |date:'MM/dd/yyyy' }}</td>
                        <td>{{item.dataAlteracao |date:'MM/dd/yyyy'}}</td>
                        <td>{{item.nome}}</td>
                        <td>{{item.marca}}</td>
                        <td>
                                <div style="font-size: 1.1rem">
                                        <span ng-if="item.tipoServico ==='GARANTIA'" class="fa-stack ng-scope">
                                            <span title="Garantia" class="fa-stack">
                                                <i style="font-size: 1.1rem" class="material-icons">
                                                    work
                                                </i>
                                            </span>
                                        </span>
                                        <span ng-if="item.tipoServico ==='ORCAMENTO'" class="fa-stack ng-scope">
                                            <span title="Orcamento" class="fa-stack">
                                                <i style="font-size: 1.1rem" class="material-icons">
                                                    markunread_mailbox
                                                </i>
                                            </span>
                                        </span>
                                        <span ng-if="item.tipoServico ==='RETORNO'" class="fa-stack ng-scope">
                                            <span title="Retorno" class="fa-stack">
                                                <i style="font-size: 1.1rem" class="material-icons">
                                                    disc_full
                                                </i>
                                            </span>
                                        </span>
                
                                        <span ng-if="item.situacao ==='AGUARDANDO_ANALISE'" class="fa-stack ng-scope">
                                            <span title="Aguardando análise" class="fa-stack">
                                                <i style="font-size: 1.1rem" class="material-icons">
                                                    watch_later
                                                </i>
                                            </span>
                                        </span>
                
                
                                        <span ng-if="item.situacao ==='AGUARDANDO_APROVACAO'" class="fa-stack ng-scope">
                                            <span title="Aparelho aguardando aprovação de orçamento pelo cliente" class="fa-stack">
                                                <i style="font-size: 1.1rem" class="material-icons">
                                                    record_voice_over
                                                </i>
                                            </span>
                                        </span>
                
                                        <span ng-if="item.situacao ==='AGUARDANDO_PECA'" class="fa-stack ng-scope">
                                            <span title="Aparelho aguardando peça" class="fa-stack">
                                                <i style="font-size: 1.1rem" class="material-icons">
                                                    local_shipping
                                                </i>
                                            </span>
                                        </span>
                                        <span ng-if="item.situacao ==='AGUARDANDO_CONSERTO'" class="fa-stack ng-scope">
                                            <span title="Aguardando conserto do equipamento" class="fa-stack">
                                                <i style="font-size: 1.1rem" class="material-icons">
                                                    build
                                                </i>
                                            </span>
                                        </span>
                                        <span ng-if="item.situacao ==='PRONTO'" class="fa-stack ng-scope">
                                            <span title="Aparelho pronto e aguardando retirada por cliente" class="fa-stack">
                                                <i style="font-size: 1.1rem" class="material-icons">
                                                    streetview
                                                </i>
                                            </span>
                                        </span>
                                        <span ng-if="item.situacao ==='ENTREGUE'" class="fa-stack ng-scope">
                                            <span title="Aparelho retirado pelo cliente" class="fa-stack">
                                                <i style="font-size: 1.1rem" class="material-icons">
                                                    beenhere
                                                </i>
                                            </span>
                                        </span>
                
                                        <span ng-if="item.pagamentoRealizado != true && item.situacao ==='ENTREGUE' && item.tipoServico ==='ORCAMENTO'"
                                            class="fa-stack ng-scope">
                                            <span title="Aparelho entregue e pagamento não realizado" class="fa-stack">
                                                <i style="font-size: 1.1rem" class="material-icons">
                                                    warning
                                                </i>
                                            </span>
                                        </span>
                
                                        <span ng-if="item.pagamentoRealizado ===true" class="fa-stack ng-scope">
                                            <span title="Pagamento realizado" class="fa-stack">
                                                <i style="font-size: 1.1rem" class="material-icons">
                                                    thumb_up_alt
                                                </i>
                                            </span>
                                        </span>
                                    </div>
                    </tr>
                </tbody>
        
            </table>
</div>
<div  class="modal-footer">
        <button type="button" ng-click="vm.cancel();" class="btn btn-outline-danger">Fechar</button>
</div>