<div class="container-fluid">

    <nav class="navbar navbar-light bg-light">
     
        <form class="form-inline" ng-submit="vm.load()">

        
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Filtrar por {{vm.filtroItem}}
                </button>
  
                <div class="dropdown-menu mr-sm-3" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" ng-click="vm.selectFiltro('numero')" href="">Número</a>
                    <a class="dropdown-item" ng-click="vm.selectFiltro('cliente')" href="">Cliente</a>
                    <a class="dropdown-item" ng-click="vm.selectFiltro('equipamento')" href="">Equipamento</a>
                    <a class="dropdown-item" ng-click="vm.selectFiltro('marca')" href="">Marca</a>
                    <a class="dropdown-item" ng-click="vm.selectFiltro('controle')" href="">Número controle interno</a>
                </div>
            </div>
       
            <input ng-model="vm.filterValue" class="form-control is-valid" ng-model="vm.filterValue" type="search"
                placeholder="Buscar" aria-label="Buscar">
            
            <button class="btn btn-outline-success my-2 my-sm-0" ng-click="vm.filtrar()" type="submit">Buscar</button>
            <div ng-if="vm.filtroItem === 'cliente'" class="valid-feedback">
               Permitido filtrar por telefone principal , nome e CPF
                  </div>
        </form>
     
        <a class="btn btn-outline-info" ui-sref="app.os.new">Novo registro</a>
    </nav>

    <!-- 
    <ui-table cols="vm.cols" data="vm.records">

    </ui-table> -->
    <table class="table table-striped">
        <thead>

            <td scope="col">Número</th>


            <td scope="col">Cliente</th>


            <td scope="col">Data abertura</th>

            <td scope="col">Data alteração</th>

            <td scope="col">Equipamento</th>


            <td scope="col">Marca</th>


            <td scope="col">Etatus</th>


            <td scope="col">
                </th>


        </thead>
        <tbody>
            <tr ng-repeat="item in vm.records">
                <td><a href="" ng-click="vm.abrirModalInformacoes(item)">{{item.id}}</a></td>
                <td>{{item.cliente.nome}}</td>
                <td>{{item.abertura |date:'MM/dd/yyyy' }}</td>
                <td>{{item.dataAlteracao |date:'MM/dd/yyyy'}}</td>
                <td>{{item.nome}}</td>
                <td>{{item.marca}}</td>
                <td>
                    <div style="font-size: 1.1rem">
                        <span ng-if="item.tipoServico ==='GARANTIA'" class="fa-stack ng-scope">
                            <span title="Garantia" class="fa-stack">
                                <i style="font-size: 1.1rem" class="material-icons">
                                    work
                                </i>
                            </span>
                        </span>
                        <span ng-if="item.tipoServico ==='ORCAMENTO'" class="fa-stack ng-scope">
                            <span title="Orcamento" class="fa-stack">
                                <i style="font-size: 1.1rem" class="material-icons">
                                    markunread_mailbox
                                </i>
                            </span>
                        </span>
                        <span ng-if="item.tipoServico ==='RETORNO'" class="fa-stack ng-scope">
                            <span title="Retorno" class="fa-stack">
                                <i style="font-size: 1.1rem" class="material-icons">
                                    disc_full
                                </i>
                            </span>
                        </span>

                        <span ng-if="item.situacao ==='AGUARDANDO_ANALISE'" class="fa-stack ng-scope">
                            <span title="Aguardando análise" class="fa-stack">
                                <i style="font-size: 1.1rem" class="material-icons">
                                    watch_later
                                </i>
                            </span>
                        </span>


                        <span ng-if="item.situacao ==='AGUARDANDO_APROVACAO'" class="fa-stack ng-scope">
                            <span title="Aparelho aguardando aprovação de orçamento pelo cliente" class="fa-stack">
                                <i style="font-size: 1.1rem" class="material-icons">
                                    record_voice_over
                                </i>
                            </span>
                        </span>

                        <span ng-if="item.situacao ==='AGUARDANDO_PECA'" class="fa-stack ng-scope">
                            <span title="Aparelho aguardando peça" class="fa-stack">
                                <i style="font-size: 1.1rem" class="material-icons">
                                    local_shipping
                                </i>
                            </span>
                        </span>
                        <span ng-if="item.situacao ==='AGUARDANDO_CONSERTO'" class="fa-stack ng-scope">
                            <span title="Aguardando conserto do equipamento" class="fa-stack">
                                <i style="font-size: 1.1rem" class="material-icons">
                                    build
                                </i>
                            </span>
                        </span>
                        <span ng-if="item.situacao ==='PRONTO'" class="fa-stack ng-scope">
                            <span title="Aparelho pronto e aguardando retirada por cliente" class="fa-stack">
                                <i style="font-size: 1.1rem" class="material-icons">
                                    streetview
                                </i>
                            </span>
                        </span>
                        <span ng-if="item.situacao ==='ENTREGUE'" class="fa-stack ng-scope">
                            <span title="Aparelho retirado pelo cliente" class="fa-stack">
                                <i style="font-size: 1.1rem" class="material-icons">
                                    beenhere
                                </i>
                            </span>
                        </span>

                        <span ng-if="item.pagamentoRealizado != true && item.situacao ==='ENTREGUE' && item.tipoServico ==='ORCAMENTO'"
                            class="fa-stack ng-scope">
                            <span title="Aparelho entregue e pagamento não realizado" class="fa-stack">
                                <i style="font-size: 1.1rem" class="material-icons">
                                    warning
                                </i>
                            </span>
                        </span>

                        <span ng-if="item.pagamentoRealizado ===true" class="fa-stack ng-scope">
                            <span title="Pagamento realizado" class="fa-stack">
                                <i style="font-size: 1.1rem" class="material-icons">
                                    thumb_up_alt
                                </i>
                            </span>
                        </span>
                    </div>
                <td style="text-align: right">

                    <actions>
                        <div class="btn-group dropleft">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">
                                    more_horiz
                                </i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="" ng-click="vm.abrirModalInformacoes(item.id)"><span class="pl-2">Vizualizar</span></a></li>
                                <li> <a ui-sref="app.os.edit({id: item.id})"><span class="pl-2">Editar</span></a></li>
                                <li><a href="https://api.whatsapp.com/send?phone={{item.cliente.telefone}}&amp;text= Estamos entrando em contato sobre a ordem de serviço" target="_blank"><i
                                            class="fab fa-whatsapp"></i> <span class="pl-2">Contatar</span></a></li>
                                <li> <a href="" ng-click="vm.imprimir(item)"><span class="pl-2">Imprimir</span></a></li>
                            </ul>
                        </div>
                        <!-- <button ng-click="vm.excluir($parent.$rec.id)" class="btn btn-sm btn-danger" type="button">Excluir</button> -->
                        <!-- <div class="dropdown">
                            <a data-toggle="dropdown"> <i class="material-icons">
                                    more_horiz
                                </i>
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="" ng-click="vm.abrirModalInformacoes(item.id)"><span class="pl-2">Vizualizar</span></a></li>
                                <li> <a ui-sref="app.os.edit({id: item.id})"><span class="pl-2">Editar</span></a></li>
                                <li><a href="https://api.whatsapp.com/send?phone={{item.cliente.telefone[0]}}&amp;text= Estamos entrando em contato sobre a ordem de serviço"><i
                                            class="fab fa-whatsapp"></i> <span class="pl-2">Contatar</span></a></li>
                                <li> <a href=""><span class="pl-2">Imprimir</span></a></li>
                            </ul>
                        </div> -->
                    </actions>
                </td>
            </tr>
        </tbody>

    </table>
    <ul class="pagination pagination-sm">
        <li class="page-item"><a class="page-link" ng-click="vm.findAll(0); vm.findAll()" href="">Início</a></li>
        <li class="page-item"><button ng-disabled="vm.page === 1" class="page-link" ng-click="vm.pagenator(-1); vm.findAll()"
                href="">Voltar</button></li>
        <li class="page-item"><a class="page-link" href="">{{vm.page}}</a></li>
        <li class="page-item"><button ng-disabled="vm.records.length < 15" class="page-link" ng-click="vm.pagenator(1); vm.findAll()"
                href="">Próxima</button></li>

    </ul>

</div>