<div id="wrapper" class="toggled">

    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Start Inside OS
                </a>
            </li>
            <menu itens="vm.itens"></menu>
       
        </ul>
    </div>
    <div id="page-content-wrapper">
        <div class="container-fluid">
           
            <a  ng-click="vm.class()" class="btn pull-left js-toolbar-action" id="menu-toggle"><i class="material-icons">
                    menu
                </i></a>
            <ui-view></ui-view>
        </div>
    </div>
</div>