<div class="container-fluid">
        <div class="row justify-content-sm-center">
            <div class="col-sm-8">
                <h2 class="title">{{vm.title}}</h2>
                <form>
                  
                    <ui-input ng-model="vm.record.nome" label="Nome"></ui-input>
                    <ui-input 
                    msg-class="muted" 
                    msg="Digite um CPF ou CNPJ válido"
                    ng-model="vm.record.documento"
                    label="CPF/CNPJ">
                 </ui-input>

 <ui-input ng-model="vm.record.rg" label="RG"></ui-input>
                    <ui-input ng-model="vm.record.email" type="email" label="Email"></ui-input>
                    <ui-input ng-model="vm.record.telefone" label="Telefone principal"></ui-input>
                    <ui-input ng-model="vm.record.telefone2" label="Telefone secundario"></ui-input>
                    <ui-input ng-model="vm.record.enderecoPessoal.cep" label="CEP"></ui-input>
                    <ui-input ng-model="vm.record.enderecoPessoal.cidade" label="Cidade"></ui-input>
                    <ui-input ng-model="vm.record.enderecoPessoal.bairro" label="Bairro"></ui-input>
                    <ui-input ng-model="vm.record.enderecoPessoal.rua" label="Endereço"></ui-input>
                    <ui-input ng-model="vm.record.enderecoPessoal.complemento" label="Complemento"></ui-input>
                    
                    <button ng-click="vm.save()" type="button" class="btn btn-outline-info">Salvar Registro</button>
                    <a ui-sref="app.cliente.list" class="btn btn-danger">Cancelar</a>
                </form>
            </div>
        </div>
    </div>