<div class="container-fluid">
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline" ng-submit="vm.load()">
            <input ng-model="vm.filterValue" class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-outline-success my-2 my-sm-0" ng-click=vm.filtrar() type="submit">Buscar</button>
        </form>
        <a class="btn btn-outline-info" ui-sref="app.cliente.new">Novo registro</a>
    </nav>
    <table class="table table-striped">
        <thead>




            <td scope="col">Nome</th>

            <td scope="col">Documento</th>

            <td scope="col">Telefone</th>

            <td scope="col">Data cadastro</th>

            <td scope="col">E-mail</th>


            <td scope="col">
                </th>


        </thead>
        <tbody>
            <tr ng-repeat="item in vm.records">
                <td>{{item.nome}}</td>
                <td>{{item.documento}}</td>
                <td>{{item.telefone}}</td>
                <td>{{item.datacadastro |date:'MM/dd/yyyy' }}</td>
            
                <td style="text-align: right">

                    <actions>
                        <div class="btn-group dropleft">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">
                                    more_horiz
                                </i>
                            </a>
                            <ul class="dropdown-menu">
                                <li> <a ui-sref="app.cliente.edit({id: item.id})"><span class="pl-2">Editar</span></a></li>
                            </ul>
                        </div>
                        <!-- <button ng-click="vm.excluir($parent.$rec.id)" class="btn btn-sm btn-danger" type="button">Excluir</button> -->
                        <!-- <div class="dropdown">
                                <a data-toggle="dropdown"> <i class="material-icons">
                                        more_horiz
                                    </i>
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="" ng-click="vm.abrirModalInformacoes(item.id)"><span class="pl-2">Vizualizar</span></a></li>
                                    <li> <a ui-sref="app.os.edit({id: item.id})"><span class="pl-2">Editar</span></a></li>
                                    <li><a href="https://api.whatsapp.com/send?phone={{item.cliente.telefone[0]}}&amp;text= Estamos entrando em contato sobre a ordem de serviço"><i
                                                class="fab fa-whatsapp"></i> <span class="pl-2">Contatar</span></a></li>
                                    <li> <a href=""><span class="pl-2">Imprimir</span></a></li>
                                </ul>
                            </div> -->
                    </actions>
                </td>
            </tr>
        </tbody>

    </table>
</div>